extends mainLayout
block content
    p(style="text-align:center; margin:0 auto;") כמה פעמים קרה לך שרצית לדבר יותר עם חבר אבל לא היה לך זמן? שהיה חשוב לך להתקשר לברך על אירוע מסוים אבל זה "ברח לך מהראש"
    p(style="text-align:center; margin:0 auto;") האפליקציה שלנו נוצרה כדי לעזור לכל אחד לשמור על קשר עם הסובבים אותו.
    p(style="text-align:center; margin:0 auto;") שגרת החיים של כולנו כל כך עמוסה ולפעמים זה נהיה קשה.
    p(style="text-align:center; margin:0 auto;") ובעזרת האפליקציה שלנו זה הולך להיות פשוט.
    p(style="text-align:center; margin:0 auto;") אנחנו נדאג לשלוח לך תזכורת להתקשר או לברך חבר לפי התדירות שתבחר.
    br
    h3(style="color: darkmagenta; text-align: center;") אז איך זה עובד?
    p(style="text-align:center; margin:0 auto;") צור משתמש חדש והכנס את המייל שלך.
    p(style="text-align:center; margin:0 auto;") סנכרן את אנשי הקשר שלך לאפליקציה וסווג את  מידת הקשר שאתה רוצה לשמור עם כל אחד.
    br
    p(style="text-align:center; margin:0 auto;")
        strong
            ins ישנן 5 דרגות שונות של שמירה על קשר:
            br
            br
            p(style="text-align:center; margin:0 auto;") 1- שמירה על קשר (תזכורת פעם בשלושה שבועות על שיחה)
            p(style="text-align:center; margin:0 auto;") 2- שמירה על קשר סביר (תזכורת פעם בשבועיים על שיחה)
            p(style="text-align:center; margin:0 auto;") 3- שמירה על קשר טוב (תזכורת פעם בשבוע על שיחה)
            p(style="text-align:center; margin:0 auto;") 4- שמירה על קשר רציף (תזכורת פעמיים בשבוע על שיחה)
            p(style="text-align:center; margin:0 auto;") 5- שמירה על קשר אינטנסיבי (תזכורת פעם ביום על שיחה)
        
