extends mainLayout
block content
    section(class="sign-page")
        strong
            a(href="/psPage") ערוך פרטים אישיים
            br
            br
            a(href="/selectContacts") צפה באנשי הקשר שלך
            br
            br
            a(href="/events") הוסף אירוע לאיש קשר
            br
            br
            a(id="syncron", href="/sync") סנכרן אנשי קשר