<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>אודות</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" href="../static/images/icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--for the icons-->
        <script defer src="../static/js/pages_validation.js"></script>
    </head>

<body dir="rtl"> 
    <div class="page-container">
        <header>
            <a id="logIn" href="../views/sign_in.html" class="top-line-left">התחברות</a>
            <nav>
                <a href="../views/home_page.html" class="navline">דף הבית</a>
                <a href="../views/sign_up.html" class="navline">הצטרפות </a>
                <a href="../views/about_us.html" class="navline">קצת עלינו</a>
                <a href="../views/contact.html" class="navline">צור קשר</a>
            </nav>
        </header>
        <div class="page-details">
            <h2>קצת עלינו</h2>
            <p style="text-align:center; margin:0 auto;">
                כמה פעמים קרה לך שרצית לדבר יותר עם חבר אבל לא היה לך זמן? שהיה חשוב לך להתקשר לברך על אירוע מסוים אבל זה "ברח לך מהראש"<br>
                האפליקציה שלנו נוצרה כדי לעזור לכל אחד לשמור על קשר עם הסובבים אותו.<br>
                שגרת החיים של כולנו כל כך עמוסה ולפעמים זה נהיה קשה.<br>
                ובעזרת האפליקציה שלנו זה הולך להיות פשוט.<br>
                אנחנו נדאג לשלוח לך תזכורת להתקשר או לברך חבר לפי התדירות שתבחר.<br>
                
            </p><br>
            <h3 style="color: darkmagenta; text-align: center;">
                אז איך זה עובד?<br>
            </h3>
            <p style="text-align:center; margin:0 auto;">
                צור משתמש חדש והכנס את המייל שלך.<br>
                סנכרן את אנשי הקשר שלך לאפליקציה וסווג את  מידת הקשר שאתה רוצה לשמור עם כל אחד.<br><br>
                <strong><!--to bold the text-->
                <ins>ישנן 5 דרגות שונות של שמירה על קשר:</ins>
                    <br><br>
                1- שמירה על קשר (תזכורת פעם בשלושה שבועות על שיחה)<br>
                2- שמירה על קשר סביר (תזכורת פעם בשבועיים על שיחה)<br>
                3- שמירה על קשר טוב (תזכורת פעם בשבוע על שיחה)<br>
                4- שמירה על קשר רציף (תזכורת פעמיים בשבוע על שיחה)<br>
                5- שמירה על קשר אינטנסיבי (תזכורת פעם ביום על שיחה)<br>
                </strong>
            </p>
        </div>
        <footer class="general-footer">
            <div class="general-footer-container">
                <ul>
                    <li class="titles">עקבו אחרינו</li>
                    <li><a href=""><i class="fa fa-facebook"></i>  פייסבוק</a></li>
                    <li><a href=""><i class="fa fa-instagram"></i>     אינסטגרם</a></li>
                </ul>
                <ul>
                    <li class="titles">דברו איתנו</li>
                    <li><i class="fa fa-phone"></i>  052-2222221</li>
                    <li><i class="fa fa-envelope"></i><a href="mailto:keepintouch@office.co.il" class="originalLink"> keepintouch@office.co.il </a></li>
                </ul>
                <img id="logo" src='../static/images/site-logo.png' alt="website's logo"/>
            </div>

        </footer>
    </div>
</body>
</html>