<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>עמוד הבית </title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" href="../static/images/icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script defer src="../static/js/pages_validation.js"></script>
    </head>
    <br><br>
    <body class="home-page" dir="rtl" onload="welcomeText()"> <!--conact to js functio that show change caption-->

    <header>
        <a id="logIn" href="../views/sign_in.html" class="top-line-left">התחברות</a>
        <nav>
            <a href="../views/home_page.html" class="navline">דף הבית</a>
            <a href="../views/sign_up.html" class="navline">הצטרפות</a>
            <a href="../views/about_us.html" class="navline">קצת עלינו</a>
            <a href="../views/contact.html" class="navline">צור קשר</a>            

        </nav>
    </header>
    <div class="container">
        <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
        <section class="sign-page">
           
            <strong> <!--bold font-->
           <p style="text-align: center; color: deeppink; font-size: 2.5vw;"> Keep in Touch <br> זו הדרך שלנו לעזור לך לשמור על קשר עם הקרובים לך
        </strong>
        </section>
    </div>
  
    <footer class="homePage-footer"> 
        <div class="general-footer-container">
            <img id='footer-img' src='../static/images/site-logo.png' alt="logo of the website" style="padding-left: 0vw;"
            />
            <ul>
                <li class="titles">עקבו אחרינו</li>
                <li><a href=""><i class="fa fa-facebook"></i>  פייסבוק</a></li>
                <li><a href=""><i class="fa fa-instagram"></i>     אינסטגרם</a></li>
            </ul>
            <ul>
                <li class="titles">דברו איתנו</li>
                <li><i class="fa fa-phone"></i>  052-2222221</li>
                <li><i class="fa fa-envelope"></i><a href="mailto:keepintouch@office.co.il" class="originalLink"> keepintouch@office.co.il </a></li>
            </ul>
        </div>
    </footer>
</body>
</html>