<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>סנכרון אנשי קשר</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" href="../static/images/icon.png">
        <script defer src="../static/js/pages_validation.js"></script>
    </head>

    <body style="background-color: plum;" onload="redirect_sync()">
        <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </body>

</html>