<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>דף משתמש</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" href="../static/images/icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <script defer src="../static/js/pages_validation.js"></script>
    </head>
    <body dir="rtl"> 
        <div class="page-container">
            <header>
                <a id="logIn" href="../views/sign_in.html" class="top-line-left">התנתקות</a>
                <nav>
                    <a href="../views/user_page.html" class="navline">הפרופיל שלי</a>
                    <a href="../views/about_us.html" class="navline">קצת עלינו</a>
                    <a href="../views/contact.html" class="navline">צור קשר</a>
                </nav>
            </header>
            <div class="page-details">
                <section class="sign-page">
                    <h2>הפרופיל שלי</h2>
                    <strong>
                    <a href="../views/ps_page.html">ערוך פרטים אישיים</a><br><br>
                    <a href="../views/contact_list.html">צפה באנשי הקשר שלך</a><br><br>
                    <a href="../views/events.html">הוסף אירוע לאיש קשר</a><br><br>
                    <a id="syncron" href="../views/sync.html">סנכרן אנשי קשר</a>
                </strong>
                </section>
            </div>

 
            <footer class="general-footer">
                <div class="general-footer-container">
                    <ul>
                        <li class="titles">עקבו אחרינו</li>
                        <li><a href=""><i class="fa fa-facebook"></i>  פייסבוק</a></li>
                        <li><a href=""><i class="fa fa-instagram"></i>     אינסטגרם</a></li>
                    </ul>
                    <ul>
                        <li class="titles">דברו איתנו</li>
                        <li><i class="fa fa-phone"></i>  052-2222221</li>
                        <li><i class="fa fa-envelope"></i><a href="mailto:keepintouch@office.co.il" class="originalLink"> keepintouch@office.co.il </a></li>
                    </ul>
                    <img id="logo" src='../static/images/site-logo.png' alt="website's logo"/>
                </div>
    
            </footer>
        </div>
    
    </body>
    </html>
